 <% if @todo_item.errors.any? %>
  		<div id="error_explanation">
      		<h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      		<ul>
      			<% @todo_item.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      		</ul>
    	</div>
 <% end %>



<%= form.label :content%>
<%= form.text_field :content%>
<%= form.submit "Save" %>