/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.clear {
	clear: both;
}

div.nav {
	border-bottom: 1px solid #aaa;
	margin-bottom: 20px;
	padding:10px 0 0 5px;
}

div.nav h1 {
	float: left;
	margin: 0 1em 0 0;
}


div.nav a {
	text-decoration:none !important;
}


div.nav ul {
	float: left;
	list-style: none;
	clear: right;
	margin: 0 0 0 1em;
	padding: 0;
}

div.nav ul li {
	float: left;
}

div.nav ul li a {
	display: block;
	width: auto;
	padding: 8px 10px 8px 10 px;
	background: #eee;
	color: #aaa;
}

div.nav ul li a:hover{
	background: #aaa;
	color:#eee;
}


 div.alert {
 	border: 2px solid #aaa;
 	padding:10px;
 }
 div.alert.success {
 	border: 2px solid green; color: green;
 }
  div.alert.error {
 	border: 2px solid red; color: red;
 }
  div.alert.notice {
 	border: 2px solid blue; color: blue;
 }
